/* --- helper classes --- */
/* line 2, ../../src/sass/_helpers.scss */
#console {
  background: rgba(255, 128, 0, 0.75);
  color: #000;
  position: absolute;
  z-index: 1000;
}

/* line 3, ../../src/sass/_helpers.scss */
.show {
  display: block !important;
}

/* line 4, ../../src/sass/_helpers.scss */
.hide {
  display: none !important;
}

/* line 5, ../../src/sass/_helpers.scss */
.hidden {
  -webkit-transform: translate3d(999999px, 999999px, 0) !important;
}

/* apply a natural box layout model to all elements */
/* line 7, ../../src/sass/_helpers.scss */
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* line 12, ../../src/sass/_helpers.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 15, ../../src/sass/_helpers.scss */
body {
  width: 100%;
  height: 100%;
  background: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  font: 100% 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* line 25, ../../src/sass/_helpers.scss */
#loader {
  font-size: 3.2em;
  color: #fff;
  position: relative;
}

/* line 31, ../../src/sass/_helpers.scss */
#meter {
  height: 20px;
  width: 200px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  /*centering*/
  left: 50%;
  margin-top: -10px;
  /* Half the height */
  margin-left: -100px;
  /* Half the width */
}

/* line 45, ../../src/sass/_helpers.scss */
#meter span {
  display: block;
  height: 100%;
  border-radius: 20px;
  background-color: red;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

/* mobile */
/* .orientright #container{
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin:230px 230px;
  position: absolute;
  left: -100px;
} */
/* tablet */
/* line 64, ../../src/sass/_helpers.scss */
.orientright #container {
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  -webkit-transform-origin: 512px 384px;
  position: absolute;
  left: -128px;
  top: 128px;
}

/* line 74, ../../src/sass/_helpers.scss */
.fadein {
  -webkit-animation: FADEIN .2s ease-in;
}

@-webkit-keyframes FADEIN {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 79, ../../src/sass/_helpers.scss */
.fadeout {
  -webkit-animation: FADEOUT .2s ease-in;
}

@-webkit-keyframes FADEOUT {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 85, ../../src/sass/_helpers.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 21, ../../src/sass/style.scss */
#loader {
  width: 100%;
  height: 100%;
}

/* line 24, ../../src/sass/style.scss */
#container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  background: url(img/desktop.jpg) no-repeat center top;
}

/* line 31, ../../src/sass/style.scss */
.cup {
  max-width: 29.7%;
  height: auto;
  background-size: 594px auto;
  position: absolute;
  z-index: 1;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

/* line 41, ../../src/sass/style.scss */
.confetti {
  max-width: 100%;
  height: auto;
  background-size: 1947px auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

/* line 51, ../../src/sass/style.scss */
.l_por,
.r_dal {
  max-width: 100%;
  height: auto;
  top: 0;
  z-index: 3;
  position: absolute;
}

/* line 58, ../../src/sass/style.scss */
.l_por {
  left: -16%;
  background-size: 1496px auto;
}

/* line 62, ../../src/sass/style.scss */
.r_dal {
  right: -16%;
  background-size: 1558px auto;
}

/* line 67, ../../src/sass/style.scss */
.txt_1,
.txt_2,
.txt_3 {
  height: auto;
  display: block;
  position: absolute;
  z-index: 4;
  left: 35%;
}

/* line 77, ../../src/sass/style.scss */
.txt_1 {
  top: 20%;
  max-width: 29.7%;
  background-size: 594px auto;
}

/* line 82, ../../src/sass/style.scss */
.txt_2 {
  top: 43%;
  max-width: 29.85%;
  background-size: 597px auto;
}

/* line 87, ../../src/sass/style.scss */
.txt_3 {
  top: 60%;
  max-width: 29.65%;
  background-size: 593px auto;
}

/* line 94, ../../src/sass/style.scss */
.logo_portland,
.logo_dallas {
  height: auto;
  display: block;
  position: absolute;
  z-index: 5;
  top: 10%;
}

/* line 104, ../../src/sass/style.scss */
.logo_portland {
  max-width: 42.55%;
  background-size: 851px auto;
  left: -10%;
}

/* line 110, ../../src/sass/style.scss */
.logo_dallas {
  max-width: 41.7%;
  background-size: 834px auto;
  right: -10%;
}

/* line 116, ../../src/sass/style.scss */
.shade {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 125, ../../src/sass/style.scss */
.end {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #060702;
}

/* line 131, ../../src/sass/style.scss */
.vidopen {
  position: absolute;
  width: 20%;
  height: 20%;
  right: 11%;
  top: 5%;
  border: 0;
  background-color: transparent;
}

/* line 142, ../../src/sass/style.scss */
.btn {
  max-width: 11.2%;
  height: auto;
  background-size: 224px auto;
  position: absolute;
  right: 15%;
  top: 15%;
  z-index: 3;
}

/* line 151, ../../src/sass/style.scss */
.close {
  max-width: 5.45%;
  height: auto;
  background-size: 109px auto;
  position: absolute;
  right: -2.5%;
  top: -5%;
  z-index: 3;
}

/* line 161, ../../src/sass/style.scss */
.play {
  max-width: 7.95%;
  height: auto;
  background-size: 159px auto;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  z-index: 4;
  pointer-events: none;
}

/* line 172, ../../src/sass/style.scss */
.tunein,
.tunein_bg {
  width: auto;
  max-height: 100%;
  top: 0;
  position: absolute;
}

/* line 179, ../../src/sass/style.scss */
.tunein {
  z-index: 2;
  left: 0;
  background-size: 1275px auto;
}

/* line 184, ../../src/sass/style.scss */
.tunein_bg {
  z-index: 1;
  right: 0;
  background-size: 1710px auto;
}

/* line 191, ../../src/sass/style.scss */
.modal_wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: .4s;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}

/* line 204, ../../src/sass/style.scss */
.modal_content {
  max-width: 800px;
  width: 100%;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
}

/* line 215, ../../src/sass/style.scss */
.modal_open {
  opacity: 1;
  visibility: visible;
}

/* line 220, ../../src/sass/style.scss */
video {
  max-width: 800px;
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
