@import "helpers";

$cdn: "img/";
// usage: background: url(#{$cdn}frame-1.png);

@mixin percentageWidth($width) {
  //Get width percentages using formula (elementWidth/pageWidth*100 = percentageWidth)
  max-width: $width / 2000px * 100%;
}


@mixin wh{
  width: 100%;
  height: 100%;
}
@mixin fluid {
  max-width:100%;
  height:auto;
}

#loader{
  @include wh;
}
#container{
  position: relative;
  @include wh;
  overflow: hidden;
  display: none;
  background: url(#{$cdn}desktop.jpg) no-repeat center top;
}
.cup {
  @include percentageWidth(594px);
  height:auto;
  background-size: 594px auto;
  position: absolute;
  z-index: 1;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.confetti {
  @include fluid;
  // max-width: 2145px;
  // max-height: 2380px;
  background-size: 1947px auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.l_por,
.r_dal {
  @include fluid;
  top: 0;
  z-index: 3;
  position: absolute;
}
.l_por {
  left: -16%;
  background-size: 1496px auto;
}
.r_dal {
  right: -16%;
  background-size: 1558px auto;
}

.txt_1, 
.txt_2, 
.txt_3 {
  height:auto;
  display: block;
  position: absolute;
  z-index: 4;
  left: 35%;
} 

.txt_1{
  top: 20%;
  @include percentageWidth(594px);
  background-size: 594px auto;
}
.txt_2{
  top: 43%;
  @include percentageWidth(597px);
  background-size: 597px auto;
}
.txt_3{
  top: 60%;
  @include percentageWidth(593px);
  background-size: 593px auto;
}


.logo_portland,
.logo_dallas {
  height:auto;
  display: block;
  position: absolute;
  z-index: 5;
  // background-color: rgba(255,100,100,.4);
  top: 10%;
}

.logo_portland {
  @include percentageWidth(851px);
  background-size: 851px auto;
  left: -10%;
}

.logo_dallas {
  @include percentageWidth(834px);
  background-size: 834px auto;
  right: -10%;
}

.shade {
  @include wh;
  background-color: rgba(0,0,0,.85);
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
}

.end{
  @include wh;
  z-index: 1;
  background-color: #060702;
}

.vidopen{
  position: absolute;
  width: 20%;
  height: 20%;
  right: 11%;
  top: 5%;
  border: 0;
  // background-color: rgba(0,0,255,.75);
  background-color: transparent;
}

.btn {
  @include percentageWidth(224px);
  height: auto;
  background-size: 224px auto;
  position: absolute;
  right: 15%;
  top: 15%;
  z-index: 3;
}
.close {
  @include percentageWidth(109px);
  height: auto;
  background-size: 109px auto;
  position: absolute;
  right: -2.5%;
  top: -5%;
  z-index: 3;
}

.play {
  @include percentageWidth(159px);
  height: auto;
  background-size: 159px auto;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  z-index: 4;
  pointer-events: none;
}
.tunein,
.tunein_bg {
  width:auto;
  max-height:100%;
  top: 0;
  position: absolute;
}
.tunein {
  z-index: 2;
  left: 0;
  background-size: 1275px auto;
}
.tunein_bg {
  z-index: 1;
  right: 0;
  background-size: 1710px auto;
}


.modal_wrapper { 
  @include wh;
  min-height: 100%; 
  position: fixed; 
  top: 0; 
  left: 0; 
  background-color: rgba(0,0,0,.8); 
  transition: .4s; 
  visibility: hidden; 
  opacity: 0; 
  z-index: 100;
}

.modal_content { 
  max-width: 800px;
  width: 100%;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
}

.modal_open { 
  opacity: 1; 
  visibility: visible;
}

video {
  max-width: 800px;
  width: 100%;
  height: auto;
}
